---
import BotzillaLanding from "../components/BotzillaLanding.jsx";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Botzilla – Slack Bot from Space</title>
    <link rel="icon" href="../src/assets/rocket.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  </head>
  <body class="font-[Orbitron]">
    <BotzillaLanding />
  </body>
</html>
